<div class="language-nav">
    <nav class="masthead">
        <h2>
            <a class="mast-links" href="#">CSS </a>
            <a class="mast-links" href="#">HTML</a>
            <a class="mast-links" href="#">Javascript</a>
            <a class="mast-links" href="#">Ruby</a>
            
        </h2>

        <img class="logo" src="assets/AA_Times_Logo.png">

        <h2>
            Tuesday, October 18, 2016
            Today’s Paper
            Video
            77°F
            AAO +100%
        </h2>
    </nav>
</div>