
<div class="div-section">
    <nav class="left-side">
        <ul>
            <li>
                <a class="section-names" href="#">World</a>
            </li>
            
            <li>
            <a class="section-names" href="#">San Francisco</a>
            </li>
            <li>
            <a class="section-names" href="#">New York</a>
            </li>
            <li>
            <a class="section-names" href="#">Bootcamp Prep</a>
            </li>
            <li>
            <a class="section-names" href="#">Jumpstart</a>
            </li>
            <li>
            <a class="section-names" href="#">Online</a>
            </li>
            <li>
            <a class="section-names" href="#">Marketing</a>
            </li>
            
            
            
            
        </ul>
    </nav>
   
    <nav class="right-side">
        <ul>
            <li>
            <a class="section-names" href="#">Sales</a>
            </li>
            <li>
            <a class="section-names" href="#">TalentMatch</a>
            </li>
            <li>
            <a class="section-names" href="#">Alumni</a>
            </li>
            <li>
            <a class="section-names" href="#">All</a>
            </li>
            
            
            
        </ul>
    </nav>
        
    
    

</div>