@use '../variables' as *;

.main-nav {
  
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    > li {
      
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

#gear {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#gear:hover {
  background-color: grey;
  color: black;
}

#gear:hover {
  
}
    